<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApeFree.ApeDialogs" version="0.10.4" targetFramework="net461" />
  <package id="ApeFree.ApeForms.Core" version="0.10.4" targetFramework="net461" />
  <package id="ApeFree.ApeForms.Forms" version="0.10.4" targetFramework="net461" />
  <package id="ApeFree.CodePlus.Algorithm" version="0.9.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="STTech.BytesIO.Core" version="2.12.9" targetFramework="net461" />
  <package id="STTech.BytesIO.Serial" version="2.12.9" targetFramework="net461" />
  <package id="STTech.BytesIO.Tcp" version="2.12.9" targetFramework="net461" />
  <package id="STTech.BytesIO.Udp" version="2.12.9" targetFramework="net461" />
  <package id="STTech.CodePlus" version="1.5.14" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>