<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApeFree.ApeForms.Core" version="0.9.5" targetFramework="net48" />
  <package id="ApeFree.ApeForms.Forms" version="0.9.5" targetFramework="net48" />
  <package id="ApeFree.CodePlus.Algorithm" version="0.9.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="STTech.BytesIO.Core" version="2.9.2-Alpha0714" targetFramework="net461" />
  <package id="STTech.BytesIO.Serial" version="2.9.2-Alpha0714" targetFramework="net461" />
  <package id="STTech.BytesIO.Tcp" version="2.9.2-Alpha0714" targetFramework="net461" />
  <package id="STTech.CodePlus" version="1.4.0" targetFramework="net461" />
</packages>