<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApeFree.ApeDialogs" version="0.10.17-beta0922" targetFramework="net461" />
  <package id="ApeFree.ApeForms.Core" version="0.11.9-beta1221" targetFramework="net461" />
  <package id="ApeFree.ApeForms.Forms" version="0.11.8-beta1211" targetFramework="net461" />
  <package id="ApeFree.Cake2D" version="0.0.5.1-beta0922" targetFramework="net461" />
  <package id="ApeFree.CodePlus.Algorithm" version="0.9.6" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="STTech.BytesIO.Core" version="2.14.4" targetFramework="net461" />
  <package id="STTech.BytesIO.Serial" version="2.14.4" targetFramework="net461" />
  <package id="STTech.BytesIO.Tcp" version="2.14.4" targetFramework="net461" />
  <package id="STTech.BytesIO.Udp" version="2.14.4" targetFramework="net461" />
  <package id="STTech.CodePlus" version="1.6.5" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>